header {
   background: #FFFFFF;
   padding: 20px 0;
   font-color: #000000;
   display: inline;
}

.logo {
   widht: 200px;
   height: 200px;
}

.texto {
   background: #000000;
   texto-align:center;
   color: #FFFFFF;
   p: #FFFFFF;
}


.nav {
   position: absolute;
   top: 110px;
   right: 0;
}

.nav li {
   display: inline;
   margin: 0 0 0 15px;
}

.nav a {
   text-transform: uppercase;
   color: #000000;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

